aiohttp==3.7.4.post0
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==3.0.1
attrs==23.1.0
beautifulsoup4==4.12.3
blinker==1.7.0
bs4==0.0.1
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.6
cryptography==42.0.4
customtkinter==5.2.2
cx-Logging==3.1.0
cx_Freeze==6.15.15
darkdetect==0.8.0
discord==1.7.3
discord.py==1.7.3
exceptiongroup==1.2.0
Flask==3.0.2
frozenlist==1.4.1
geographiclib==2.0
geopy==2.4.1
h11==0.14.0
idna==2.10
inquirerpy==0.3.4
instagram-private-api==1.6.0.0
iphack==1.4.3
itsdangerous==2.1.2
Jinja2==3.1.3
lief==0.14.0
markdown-it-py==2.2.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.0.5
oauthlib==3.2.2
outcome==1.3.0.post0
packaging==23.2
pefile==2023.2.7
pfzy==0.3.4
Pillow==9.5.0
prettytable==0.7.2
prompt-toolkit==3.0.43
psutil==5.9.5
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.20.0
pyfiglet==0.8.post1
Pygments==2.17.2
pyinstaller
pyinstaller-hooks-contrib==2024.1
pyobf2==1.2.0
pypiwin32==223
pyproxify==0.0.1
pyreadline==2.1
PySocks==1.7.1
python-dotenv==1.0.1
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==13.3.5
selenium==4.18.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
tomlkit==0.11.8
torpy==1.1.6
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.10.0
ua-headers==0.0.3
urllib3==2.2.1
wcwidth==0.2.13
webdriver-manager==4.0.1
Werkzeug==3.0.1
WMI==1.5.1
wsproto==1.2.0
yarl==1.9.4
